	.enter {
	  fill: green;
	  transition: fill 750ms ease-out;
	}
	.axis path,
	.axis line {
		fill: none;
		stroke: black;
		shape-rendering: crispEdges;
	}
	
	.axis text {
		font-family: sans-serif;
		font-size: 11px;
	}

	.econ {
		fill: green;
	}

	.ctry {
		fill: blue;
	}

